.container{
	width: 100%;
	height: auto;
}
.menu{
	width: 100%;
	height: 100px;
	background-color: rgb(0,0,0);
}
.top{
	width: 80%;
	height: 70px;
	margin: 0 auto;
}
.top ul{
	list-style: none;
}
.top ul li{
	display: inline-block;
}
.top ul li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: white;	
}
.menue{
	width: 100%;
	height: 50px;
	background-color: rgb(255,255,0);
}